---
import Layout from "../../layouts/Layout.astro";
import Hero3 from "../../videos/hero3.mp4";

export async function getStaticPaths() {
  const data = await fetch("http://localhost:3000/warmup").then((response) =>
    response.json()
  );

  return data.map((post: { _id: String }) => {
    return {
      params: { id: post._id },
    };
  });
}

const { id } = Astro.params;

const postRes = await fetch(`http://localhost:3000/warmup/${id}`);
const post = await postRes.json();
---

<Layout title="RoutheSthenics - WarmUp">
  <section class="hero_video">
    <video autoplay muted loop id="video-bg">
      <source src={Hero3} type="video/mp4" />
      Tu navegador no admite la etiqueta de video.
    </video>
    <div class="overlay"></div>
  </section>
  <section class="container_general">
    <h1>Calentamientos: {post.warmName}</h1>
    <article class="containers_generals">
      <section class="containers_one">
        <h2 class="Title">{post.warmName}</h2>
        <p class="Text">{post.warmDesc}</p>

        <h4 class="Texts"><span>Advertencia</span></h4>
        <p class="Text">
          Puedes ver los videos haciendo clic en las imágenes. Se trata de una
          recopilación de varios canales de calistenia en inglés y español, para
          que tengas una amplia variedad de calentamientos para tus
          entrenamientos. No te preocupes si no entiendes el inglés, simplemente
          realiza los calentamientos para alcanzar tu máximo potencial durante
          el entrenamiento.
        </p>

        <h4 class="Texts"><span>Materiales</span></h4>
        <ul>
          {
            post.warmMaterials.map((warm: { warmMaterials: String }) => (
              <li class="skillItem">{warm}</li>
            ))
          }
        </ul>
        <h4 class="Texts" style={{marginBottom:"30px"}}><span>Redes Sociales</span></h4>
        <ul>
          {post.warmChannel && post.warmChannel.map((channel) => (
            <li>
              <a class="skillItem" href={channel.url}  target="_blank" rel="noopener noreferrer">
                {channel.name}
              </a>
            </li>
          ))}
        </ul>
        
      </section>

      <section class="containers_two">
        {
          post.warmURLs &&
            post.warmURLs.map((url, index) => (
              <section class="exercise_container">
                <h3>{post.progressionWarm[index]}</h3>
                <a href={url} class="video" target="_blank">
                  <img src={post.warmImage[index]} alt="" />
                </a>
              </section>
            ))
        }
      </section>
    </article>
  </section>
</Layout>

<style>
  :root {
    scrollbar-width: thin;
    scrollbar-color: #0084ff #272727;
    overflow-x: hidden;
  }

  .container_general h1 {
    background: #fad5a6;
    background: -webkit-linear-gradient(to left, #fad5a6 0%, #8c87e5 100%);
    background: -moz-linear-gradient(to left, #fad5a6 0%, #8c87e5 100%);
    background: linear-gradient(to left, #fad5a6 0%, #8c87e5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "aero", sans-serif;
    margin-bottom: 50px;
  }

  .containers_generals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    align-items: center;
  }
  .containers_one {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
  }

  .Title {
    color: white;
    font-family: "aero";
  }
  .Text {
    font-size: 1.125rem;
    color: #9ca391;
    line-height: 1.75rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .Texts span {
    color: white;
  }

  .Texts {
    color: #9ca391;
    line-height: 1.75rem;
    margin-bottom: 20px;
    font-family: sans-serif;
    margin-top: 40px;
  }

  .containers_one ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skillItem {
    color: #9ca391;
    padding: 10px;
    background: rgba(15, 23, 42, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid #475569;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: sans-serif;
  }

  .skillItem:hover{
    background: #24386480;
    border: 1px solid #667b97;
    color: white;
  }

  .containers_two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .exercise_container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;
  }

  .exercise_container h3 {
    color: white;
    font-family: sans-serif;
    margin-bottom: 20px;
  }

  .video {
    width: 100%;
  }
  .video img {
    width: 100%;
  }

  @media (min-width: 530px) {
    .video {
      width: 80%;
    }
  }

  @media (min-width: 810px) {
    .exercise_container {
      width: 720px;
    }

    .video {
      width: 70%;
    }
  }

  @media (min-width: 1000px) {
    .containers_generals {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 900px;
      align-items: flex-start;
      overflow: hidden;
      gap: 30px;
    }

    .containers_one {
      width: 40%;
    }

    .containers_two {
      width: 50%;
    }

    .video {
      width: 60%;
    }
  }

  @media (min-width: 1150px) {
    .containers_generals {
      width: 1090px;
      gap: 0px;
    }
  }
</style>
