---
import Layout from "../../layouts/Layout.astro";
import Hero11 from "../../videos/hero11.mp4";
import "../../style/general.css";
import HeroVideo from "../../components/Hero_video.astro";

export async function getStaticPaths() {
  const data = await fetch("http://localhost:3000/flexibility").then(
    (response) => response.json()
  );

  return data.map((post: { _id: String }) => {
    return {
      params: { id: post._id },
    };
  });
}

const { id } = Astro.params;

const postRes = await fetch(`http://localhost:3000/flexibility/${id}`);
const post = await postRes.json();
---

<Layout title="RoutheSthenics - Flexibilidad">
  <HeroVideo video={Hero11} />
  <section class="container_general">
    <h1>Flexibilidad</h1>
    <article class="containers_generals">
      <section class="containers_one">
        <h2 class="Title">{post.flexName}</h2>
        <p class="Text">{post.flexDesc}</p>

        <h4 class="Texts"><span>Advertencia</span></h4>
        <p class="Text">
          Puedes ver los videos haciendo clic en las imágenes. Se trata de una
          recopilación de varios canales de calistenia en inglés y español, para
          que tengas una amplia variedad de calentamientos para tus
          entrenamientos. No te preocupes si no entiendes el inglés, simplemente
          realiza los calentamientos para alcanzar tu máximo potencial durante
          el entrenamiento.
        </p>

        <h4 class="Texts"><span>Materiales</span></h4>
        <ul>
          {
            post.flexMaterials.map((flex: { flexMaterials: String }) => (
              <li class="skillItem">{flex}</li>
            ))
          }
        </ul>
        <h4 class="Texts" style={{ marginBottom: "30px" }}>
          <span>Redes Sociales</span>
        </h4>
        <ul>
          {
            post.flexChannel &&
              post.flexChannel.map((channel) => (
                <a href={channel.url} target="_blank" rel="noopener noreferrer">
                  <li class="skillItem">{channel.name}</li>
                </a>
              ))
          }
        </ul>
      </section>

      <section class="containers_two">
        {
          post.flexURLs &&
            post.flexURLs.map((flexUrl) => (
              <section class="exercise_container">
                <h3>{flexUrl.name}</h3>
                <a href={flexUrl.url} class="video" target="_blank">
                  <img src={flexUrl.image} alt="Miniatura del video" />
                </a>
              </section>
            ))
        }
      </section>
    </article>
  </section>
</Layout>
