---
import Layout from "../../layouts/Layout.astro";
import Hero9 from "../../videos/hero9.mp4";
import { YouTube } from "astro-embed";
import "../../style/general.css";
import Comments from "../../components/Comments.jsx";
import Image from "astro/components/Image.astro";


export async function getStaticPaths() {
  const data = await fetch(
    "https://routesthenics-api.vercel.app/exercise"
  ).then((response) => response.json());

  return data.map((post: { _id: String }) => {
    return {
      params: { id: post._id },
    };
  });
}

const { id } = Astro.params;

const postRes = await fetch(
  `https://routesthenics-api.vercel.app/exercise/${id}`
);
const post = await postRes.json();
---

<Layout title="RouteSthenics - Skills">

  <section class="container_general">
    <h1 class="title">
      {
        post.skillDifficulty === "Imposible" ||
        post.skillDifficulty === "Elite" ||
        post.skillDifficulty === "Inhumano"
          ? "Mejores intentos"
          : "Progresiones:"
      }
    </h1>
    <article class="containers_generals">
      <section class="containers_one">
        <h2 class="Title">{post.exerciseName}</h2>
        {
          post.youtubeURLs && post.youtubeURLs[0] && (
            <YouTube
              id={post.youtubeURLs[0].url}
              class="videoBanner"
          
            />
          )
        }
        <p class="Text">{post.exerciseDesc}</p>

        <h4 class="Texts"><span>Advertencia:</span></h4>
        <p class="textAlt">
          <span>
            En el caso que el ejercicio sea imposible o directamente muy pocos
            lo han podido hacer te recomiendo que no lo intentes, queda bajo tu
            responsabilidad.</span
          >
          Esta guía te ayudará a avanzar en tus ejercicios. Es crucial dominar las
          progresiones principales, ya que son fundamentales para tu progreso. Los
          ejercicios alternativos están diseñados para brindarte apoyo adicional
          o para practicar mientras descansas de los principales. Elige las progresiones
          que se adapten mejor a tus necesidades y solo avanza a la siguiente cuando
          hayas dominado la anterior. Esto te ayudará a prevenir lesiones graves.
        </p>

        <h3 class="Texts"><span>Dificultad:</span> {post.skillDifficulty}</h3>
        {
          post.skillDifficulty === "Principiante" ? (
            <p class="Text" id="principiante">
              Los ejercicios de calistenia en nivel principiante son aquellos
              diseñados para individuos que están dando sus primeros pasos en
              este tipo de entrenamiento. Incluyen movimientos básicos y
              ejercicios fundamentales que buscan fortalecer los músculos
              principales del cuerpo.
            </p>
          ) : post.skillDifficulty === "Intermedio" ? (
            <p class="Text" id="intermedio">
              Los ejercicios de calistenia en nivel intermedio están destinados
              a quienes ya han adquirido cierta fuerza y control corporal a
              través de la práctica continua. Se ven ejercicios que requieren un
              mayor nivel de coordinación y resistencia muscular.
            </p>
          ) : post.skillDifficulty === "Avanzado" ? (
            <p class="Text" id="avanzado">
              En el nivel avanzado de calistenia, los ejercicios son
              considerablemente más exigentes y requieren un alto grado de
              fuerza, flexibilidad y control corporal. Entre ellos se encuentran
              habilidades que demandan un dominio total sobre el propio peso
              corporal y una técnica refinada.
            </p>
          ) : post.skillDifficulty === "Super Avanzado" ? (
            <p class="Text" id="superAvanzado">
              Los ejercicios de calistenia en nivel super avanzado son
              reservados para atletas excepcionales que han alcanzado un nivel
              sobresaliente de habilidad y condición física. Aquí se incluyen
              movimientos extremadamente desafiantes y habilidades que requieren
              un nivel extraordinario de fuerza y control corporal.
            </p>
          ) : post.skillDifficulty === "Elite" ? (
            <p class="Text" id="elite">
              El nivel elite de calistenia es el pináculo del rendimiento humano
              en este ámbito. Los ejercicios en este nivel son casi
              sobrehumanos, y solo son realizados por una élite de atletas de
              calistenia de clase mundial. Incluyen movimientos que desafían
              todas las expectativas físicas.
            </p>
          ) : post.skillDifficulty === "Inhumano" ? (
            <p class="Text" id="inhumano">
              Los ejercicios de calistenia en nivel inhumano son aquellos que
              desafían los límites de lo que se considera posible para un ser
              humano. Estos movimientos son tan extremos que solo unos pocos
              atletas extraordinarios pueden siquiera intentarlos. Incluyen
              ejercicios que desafían la gravedad y la comprensión misma de la
              biomecánica humana.
            </p>
          ) : post.skillDifficulty === "Imposible" ? (
            <p class="Text" id="imposible">
              Los ejercicios de calistenia en nivel imposible son aquellos que,
              como su nombre lo indica, se consideran fuera del alcance de
              cualquier ser humano conocido. Estos movimientos desafían todas
              las leyes de la física y la biología, y solo existen en la
              imaginación más audaz. Incluyen habilidades que están más allá de
              cualquier capacidad humana concebible y que naide ha podido si
              quiera hacerlos perfecto.
            </p>
          ) : (
            <p class="Text">Error</p>
          )
        }
        <h4 class="Texts"><span>Musculos Implicados:</span></h4>
        <ul>
          {
            post.skillMuscles.map((skill: { skillMuscles: String }) => (
              <li class="skillItem">{skill}</li>
            ))
          }
        </ul>
        <h4 class="Texts"><span>Materiales y Lugar de Aplicacion:</span></h4>
        <ul>
          {
            post.skillMaterials.map((skill: { skillMaterials: String }) => (
              <li class="skillItem">{skill}</li>
            ))
          }
        </ul>
        <h4 class="Texts">
          <span
            >{
              post.skillDifficulty === "Imposible" ||
              post.skillDifficulty === "Elite" ||
              post.skillDifficulty === "Inhumano"
                ? "Atletas notables:"
                : "Mejores Atletas:"
            }</span
          >
        </h4>
        <ul>
          {
            post.skillAthletes.map((skill: { skillAthletes: String }) => (
              <li class="skillItem">{skill}</li>
            ))
          }
        </ul>

        <h4 class="Texts"><span>Algunas Variaciones:</span></h4>
        <ul>
          {
            post.skillVariations.map((skill: { skillVariations: String }) => (
              <li class="skillItem">{skill}</li>
            ))
          }
        </ul> 

        <h4 class="Texts"><span>Video Promocional</h4>
        {
          post.youtubeURLs && post.youtubeURLs[0] && (
            <YouTube  
              id={post.youtubeURLs[1].url} 
              class="videoBanner"
            /> 
          )
        }
      </section>

      <section class="containers_two">
        {
          post.youtubeURLs?.slice(2).map((youtubeUrl) => (
            <section class="exercise_container">
              <h3>{youtubeUrl.name}</h3>
              <Image
                src={youtubeUrl.url}
                alt={`Miniatura de ${youtubeUrl.name}`}
                class="video"
                width="400"
                loading="lazy"
                height={300} 
              />
              {youtubeUrl.route === "Principal" ? (
                <h4 class="route-primary">✔ Principal</h4>
              ) : youtubeUrl.route === "Alternativo" ? (
                <h4 class="route-alternative">✖ Alternativo</h4>
              ) : youtubeUrl.route === "Imposible" ? (
                <h4 class="route-imposible">☠ Imposible</h4>
              ) : youtubeUrl.route === "Sin Progreso" ? (
                <h4 class="route-nothing">❔ Sin Progreso</h4>
              ) : (
                <p class="Text">Error</p>
              )}
            </section>
          ))
        }
      </section>
    </article>
  </section>
  <Comments client:only />
</Layout>

<style>
  .videoBanner {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .title {
    padding-bottom: 100px;
  }
</style>
