---
import Layout from "../../layouts/Layout.astro";
import Hero10 from "../../videos/hero10.mp4";
import "../../style/general.css";
import HeroVideo from "../../components/Hero_video.astro";

export async function getStaticPaths() {
  const data = await fetch("https://routesthenics-api.vercel.app/material").then((response) =>
    response.json()
  );

  return data.map((post: { _id: String }) => {
    return {
      params: { id: post._id },
    };
  });
}

const { id } = Astro.params;

const postRes = await fetch(`https://routesthenics-api.vercel.app/material/${id}`);
const post = await postRes.json();
---

<Layout title="RouteSthenics - Equipamiento">
  <HeroVideo video={Hero10}/>
  <section class="container_general">
    <h1>Equipamientos</h1>
    <article class="containers_generals">
      <section class="containers_one">
        <h2 class="Title">
          {post.materialName}
        </h2>
        <p class="Text">{post.materialDesc}</p>

        <h4 class="Texts"><span>Advertencia:</span></h4>
        <p class="Text">
          Estos productos están disponibles en las tiendas correspondientes. Al
          hacer clic en la imagen, serás redirigido para realizar la compra.
          Todo el proceso de compra se llevará a cabo en las respectivas
          tiendas, incluyendo sus políticas y métodos de pago. Esta recopilación
          te ofrece una amplia variedad de productos para explorar.
        </p>
      </section>
 
      <section class="containers_two">
        {
          post.materialURLs &&
            post.materialURLs.map((materialUrl) => (
              <section class="exercise_container">
                <h3>{materialUrl.name}</h3>
                <a href={materialUrl.url} class="video" target="_blank">
                  <img src={materialUrl.image} alt="materiales" width="1000" loading="lazy"/>
                </a>
              </section>
            ))
        }
      </section>
    </article>
  </section>
</Layout>
